<div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
</div>

<div class="container new-dose">
  <h1 class="cocktail-name"><%= @cocktail.name %></h1>
  <p>

    <button type="button" class="btn btn-outline-light"><%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "trq-font" %></button>

  </p>

  <div class="container perspective">
    <div class="row justify-content-center">
      <% @cocktail.doses.each do |dose| %>
      <div class="father col-xs-6 col-sm-4">
        <div class="front ">
            <%=dose.ingredient.name %>
        </div>
        <div class="back">
          <div class="d-flex justify-content-between align-items-center px-5">
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt trash"></i>
            <% end  %>
          </div>
          <%= dose.description %>
        </div>

      </div>
      <% end %>

    </div>
  </div>
    <p>

            <button type="button" class="btn btn-outline-light"><%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete,
      data: { confirm: "Are you sure?" }, class: "trq-font" %></button>
      </p>

</div>

